.editor-container {
    flex: 1;
    border-right: 2px solid rgb(31, 35, 58);
}
.editor-header {
    flex: 1;
    display: flex;
    gap: 10px;
    border-bottom: 2px solid rgb(31, 35, 58);
    height: 70px;
    padding: 5px 0;
}
.select-btn {
    flex: 1;
    background-color: #20253e;
    color: white;
    filter: brightness(.9);
    border-radius: 3px;
    font-weight: 600;
    font-size: 18px;
    outline: none;
    border: none;
}
.select-btn:first-child {
    margin-left: 5px;
}
.select-btn:last-child {
    margin-right: 5px;
}
.active-html {
    background-color: #e34c26;
}
.active-css {
    background-color: #264de4;
}
.active-js {
    background-color: #f0db4f;
}

.code-content {
    height: calc(100vh - 70px);
}