/*Home Style*/
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}
.form {
    background-color: #282a36;
    padding: 20px;
    border-radius: 10px;
    width: 450px;
    max-width: 90%;
}
.form h4 {
    margin-bottom: 15px;
}
.form input{
    width: 100%;
    display: block;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin: 10px 0;
    background-color: #f2f2f2;
    font-size: 16px;
    outline: none;
}
.join-btn {
    background-color: #4aed88;
    width: 100px;
    margin-left: auto;
    color: #222;
}
.join-btn:hover {
    background-color: #2b824c;
}
.create-info {
    margin: 20px auto 0 auto;
    display: inline-block;
}
.create-new__room {
    display: inline-block;
    color: #4aed88;
    text-decoration: none;
    border-bottom: 1px solid #4aed88;
    transition: all .3s ease-in-out;
    cursor: pointer;
}
.footer {
    position: fixed;
    bottom: 20px;  
}