* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background-color: #1c1e29;
}
body::-webkit-scrollbar {
  display: none;
  scrollbar-width: none;
}
.btn {
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}